# Go
**/gateway
!services/gateway
!services/gateway/**
services/gateway/gateway
**/*.exe
**/*.out
**/*.test
**/tmp/
**/bin/
**/pkg/

# Go env
.env
.env.*

# Logs
*.log
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
